name: Trigger auto deployment for ca-clouds-lab

# When this action will be executed
on:
  # Automatically trigger it when detected changes in repo
  push:
    branches: 
      [ main ]
    paths:
    - '**'
    - '.github/workflows/ca-clouds-lab-AutoDeployTrigger-346f5108-4752-435b-b57c-e3722632e534.yml'

  # Allow manual trigger 
  workflow_dispatch:      

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions: 
      id-token: write #This is required for requesting the OIDC JWT Token
      contents: read #Required when GH token is used to authenticate with private repo

    steps:
      - name: Checkout to the branch
        uses: actions/checkout@v2

      - name: Azure Login
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.CACLOUDSLAB_AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.CACLOUDSLAB_AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.CACLOUDSLAB_AZURE_SUBSCRIPTION_ID }}

      - name: Build and push container image to registry
        uses: azure/container-apps-deploy-action@v2
        with:
          appSourcePath: ${{ github.workspace }}
          _dockerfilePathKey_: _dockerfilePath_
          _targetLabelKey_: _targetLabel_
          registryUrl: acrcloudlab21.azurecr.io
          registryUsername: ${{ secrets.CACLOUDSLAB_REGISTRY_USERNAME }}
          registryPassword: ${{ secrets.CACLOUDSLAB_REGISTRY_PASSWORD }}
          containerAppName: ca-clouds-lab
          resourceGroup: rg-cloud
          imageToBuild: acrcloudlab21.azurecr.io/ca-clouds-lab:${{ github.sha }}
          _buildArgumentsKey_: |
            _buildArgumentsValues_


